# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# composer vendor dir
/vendor

# REMOVE THIS LINE!
# composer.lock file is used to lock the dependencies of your project to a known state
# and should be keeped in the repository.
/composer.lock
